.thumbnail-container {
  display: flex;
}

.img-button {
  opacity: 0.5;
  border: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 0px;
  background-color: transparent;
}
.active-img-button {
  border: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 0px;
  background-color: transparent;
}
